<div class="container">
<table id="mytable" class="table table-hover table-condensed" style="font-size:x-small">
	<thead>
		<tr>
			<form method="POST">
			<th class="col-xs-3 col-sm-4 col-md-6 col-lg-6 col-xl-6">
			<div>Name</div>
			<select class="form-control" name="sort_by_name">
				<option></option>
				<option>asc</option>
				<option>dsc</option>
			</select>
			</th>
			<th class="visible-sm visible-md visible-lg visible-xl col-sm-1 col-md-1 col-lg-1 col-xl-1">
			<div>Price</div>
			<select class="form-control" name="sort_by_price">
				<option></option>
				<option>asc</option>
				<option>dsc</option>
			</select>
			</th>
			<th class="col-xs-3 col-sm-1 col-md-1 col-lg-1 col-xl-1">
			<div>Rating</div>
			<select class="form-control" name="sort_by_rating">
				<option></option>
				<option>asc</option>
				<option>dsc</option>
			</select>
			</th>
			<th class="col-xs-3 col-sm-1 col-md-1 col-lg-1 col-xl-1">
			<div>Distance</div>
			<select class="form-control" name="sort_by_distance">
				<option></option>
				<option>asc</option>
				<option>dsc</option>
			</th>
			<th class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center">
			<button type="submit" class="btn btn-default col-xs-12">Sort</button>
			</th>
			</form>
		</tr>
	</thead>
	<tbody>
		<% for(var i = 0; i < output.length; i++) { %>
		<% var obj = output[i] %>
		<% if(obj.is_closed) continue; %>
		<tr>
			<td><%= obj.name %></td>
			<td class="text-center visible-sm visible-md visible-lg visible-xl" style="color:green;"><%= obj.price %></td>
			<td class="text-center"><%= obj.rating.toFixed(1) %></td>
			<td class="text-center"><%= obj.distance.toFixed() + " m" %></td>
			<td class="text-center">
			<form method="POST">
			<input type="hidden" name="id" value=<%= obj.id %>>
			<button type="submit" class="btn btn-default col-xs-12">Details</button>
			</form>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>
</div>